html, body {
    margin: 0 auto 40px;
    max-width: 810px;
    line-height: 1.4;
    font-size: 18px;
    font-family: sans-serif;
    color: #111111;
    background-color: #efefef;
    padding: 0 10px;
}

h1, h2, h3, h4 {
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: #00a0a0;
}

a.underline {
    text-decoration: underline;
    text-decoration-color: #000000;
}

a:visited {
    color: #a000a0;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-color: #00a0a0;
}

nav a, nav a:visited {
    color: #efefef;
    font-size: 25px;
    margin-right: 30px;
}

/* -- Navigation for small viewports -- */
@media (max-width: 460px) {
    nav {
        flex-direction: column;
        width: 100vw;
        margin: 0 -20px;
    }

    nav a {
        margin-left: auto;
    }
}

td.label {
    font-weight: bold;
    padding-right: 10px;
}

code {
    color: #efefef;
    background-color: #333333;
    border-radius: 5px;
    padding: 0 5px;
}

code:not(.inline) {
    display: block;
    white-space: pre-wrap;
    padding: 10px;
    border-radius: 5px;
}

code.light {
    color: #000000;
    background-color: #efefef;
}

kbd {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 5px;
}

article > footer {
    margin: 20px auto;
}

a > .icon {
    height: 18px;
    width: 18px;
}

article > footer > *:not(hr) {
    float: right;
}

article > footer > hr {
    clear: right;
}

img {
    width: 100%;
}

img.small {
    width: 40%;
    margin: 0 auto;
    display: block;
}
